:root {
    --font: #1A1918;
    --font-second: #999;
    --base: #E5F5FC;
    --base-darked: #80CFF1;
    --base-darked2: #009EE3;
    --base-darked3: #006592;
    --base-transparent: #C28D9D1a;
    --primary: #CA0036;
    --primary-darked: #820022;
    --body-bg: #fff;
    --link-hover-color: #009EE3;
}
/* Search Amadeus*/
.searchWizardForm {
    color: #333;
    text-align: left;
    --base: #006592;
    --bg:#E5F5FC;
}

.searchWizardForm input:focus {
    outline: 0;
}
/* ICONS */

@font-face {
    font-display: swap;
    font-family: 'sidu';
    src: url("sidu/sidu.eot?gokg1p");
    src: url("sidu/sidu.eot?gokg1p#iefix") format("embedded-opentype"),
        url("sidu/sidu.ttf?gokg1p") format("truetype"),
        url("sidu/sidu.woff?gokg1p") format("woff"),
        url("sidu/sidu.svg?gokg1p#sidu") format("svg");
    font-weight: normal;
    font-style: normal
}

.searchWizard [class*=" icon-"]:before,
.searchWizard [class^=icon-]:before {
    font-family: 'sidu' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.clear {
    clear: both;
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.section-search {
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 24px;
}

iframe {
    width: 100%;
    display: block;
}

.searchWizard {
    padding: 20px 0;
    position: relative;
    background: #fff;
    z-index: 3;
    font-size: 14px;
    line-height: 24px;
}

.wizardLayer {
    display: block !important;
}

.ctaButton__btn {
    min-width: 150px;
    display: inline-block;
    color: #ffffff;
    position: relative;
    padding: 9px 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border: 0;
    text-decoration: none;
}

.ctaButton--right {
    text-align: right;
}

@media (min-width:700px) {
    .searchWizard {
        background: transparent
    }
}

.searchWizard__inner {
    max-width: 1280px;
    margin: 0 auto
}

.searchWizard__tabheader {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    position: relative
}

@media (min-width:700px) {
    .searchWizard__tabheader {
        height: 38px;
        padding-top: 3px !important;
        margin-bottom: 2px;
        overflow: hidden
    }
}

@media (min-width:1200px) {
    .searchWizard__tabheader {
        height: 45px;
        line-height: 45px
    }
}

.searchWizard__tabheader ul {
    list-style: none
}

.searchWizard__tab {
    display: none;
    cursor: pointer;
    position: relative;
    text-transform: uppercase
}

@media (min-width:700px) {
    .searchWizard__tab {
        min-width: 165px;
        display: block !important;
        font-weight: 500;
        float: left
    }

    .searchWizard__tab:last-of-type div {
        margin-right: 0 !important
    }
}

@media (min-width:1200px) {
    .searchWizard__tab {
        min-width: 16.66666666%
    }
}

.searchWizard__tab span {
    height: 35px;
    line-height: 35px;
    display: inline-block;
    position: relative;
    padding-left: 25px
}

.searchWizard__tab span:before,
.searchWizard__tab span svg {
    margin-right: 10px;
    font-weight: 500;
    color: #fff;
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "sidu"
}
.searchWizard__tab span svg {
    fill: #fff;
    height: 18px;
    margin-right: 12px;
}

.searchWizard__tab--active {
    display: block
}

.searchWizard__tab--package span:before {
    content: ""
}

.searchWizard__tab--lastminute span:before {
    content: ""
}

.searchWizard__tab--cruise span:before {
    content: ""
}

.searchWizard__tab--fewo span:before {
    content: ""
}

.searchWizard__tab--hotel span:before {
    content: ""
}

.searchWizard__tab--flight span:before {
    content: "";
    font-size: 15px
}

.searchWizard__tab:hover {
    color: var(--base)
}

.searchWizard__tab:hover span:before {
    color: #fff
}

.searchWizard__tabinner {
    padding-left: 20px;
    background: var(--base-darked);
    position: relative;
    color: #fff
}

@media (min-width:700px) {
    .searchWizard__tabinner {
        margin-right: 2px;
        margin-bottom: 3px;
        padding: 0 20px
    }
}

.searchWizard__tabinner--active {
    display: block;
    font-weight: 500;
    color: #fff
}

@media (min-width:700px) {
    .searchWizard__tabinner--active {
        background: var(--base-darked3);
    }

    .searchWizard__tabinner--active:before {
        content: "";
        width: 100%;
        height: 2px;
        background: transparent;
        position: absolute;
        top: -2px;
        left: 0
    }
}

.searchWizard__tabinner--active span:before {
    color: #fff
}

.searchWizard__tabcontrol {
    width: 35px;
    height: 35px;
    background: var(--base);
    color: #333333;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer
}

.searchWizard__tabcontrol--select:after,
.searchWizard__tabcontrol--select:before {
    content: "";
    width: 14px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 6px;
    top: 17px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.searchWizard__tabcontrol--select:after {
    left: auto;
    right: 6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@media (min-width:700px) {
    .searchWizard__tabcontrol--select {
        display: none
    }
}

.searchWizard__tabcontrol--left,
.searchWizard__tabcontrol--right {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: var(--base);
    position: absolute;
    top: 3px;
    left: 0;
    text-align: center;
    display: none
}

.searchWizard__tabcontrol--left:before,
.searchWizard__tabcontrol--right:before {
    content: "\e902";
    color: #ffffff
}

.searchWizard__tabcontrol--right {
    left: auto;
    right: 0
}

.searchWizard__tabcontrol--right:before {
    content: "\e903"
}

@media (min-width:700px) {
    .searchWizard--tabslider .searchWizard__tabheader {
        padding: 0 37px
    }
}

@media (min-width:1200px) {
    .searchWizard--tabslider .searchWizard__tabheader {
        padding: 0
    }
}

.searchWizard--tabslider .searchWizard__tabcontrol--left,
.searchWizard--tabslider .searchWizard__tabcontrol--right {
    display: none
}

@media (min-width:700px) {

    .searchWizard--tabslider .searchWizard__tabcontrol--left,
    .searchWizard--tabslider .searchWizard__tabcontrol--right {
        display: block
    }
}

@media (min-width:1200px) {
    .searchWizard--tabslider .searchWizard__tabcontrol {
        display: none
    }
}

.searchWizard--opentabs .searchWizard__tabheader {
    height: auto;
    padding-top: 35px
}

@media (min-width:700px) {
    .searchWizard--opentabs .searchWizard__tabheader {
        height: 38px
    }
}

.searchWizard--opentabs .searchWizard__tab {
    display: block
}

.searchWizard--opentabs .searchWizard__tab--active {
    width: 100%;
    position: absolute;
    top: 0
}

@media (min-width:700px) {
    .searchWizard--opentabs .searchWizard__tab--active {
        width: auto;
        position: relative
    }
}

.searchWizard--opentabs .searchWizard__tabcontrol--select:after,
.searchWizard--opentabs .searchWizard__tabcontrol--select:before {
    width: 19px;
    left: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.searchWizard--opentabs .searchWizard__tabcontrol--select:after {
    left: auto;
    right: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.searchWizard__tabcontent {
    width: 100%;
    background: var(--bg);
    padding: 10px
}

@media (min-width:700px) {
    .searchWizard__tabcontent {
        background: var(--bg);
        padding: 20px
    }
}

@media (min-width:700px) {
    .searchWizard__tabconinner {
        margin: 0 -10px
    }
}

.searchWizard__button {
    width: 100%;
    text-align: right;
    margin-top: 20px
}

@media (min-width:700px) {
    .searchWizard__button {
        margin-top: 0
    }
}

.searchWizard__col {
    position: relative;
    min-height: 1px
}

.searchWizard__col--static {
    position: static
}

@media (min-width:700px) {
    .searchWizard__col {
        width: 50%;
        padding: 0 2.5px;
        float: left
    }
}

@media (min-width:1000px) {
    .searchWizard__col {
        width: 33.333333333333333%
    }
}

@media (min-width:1200px) {
    .searchWizard__col {
        width: 16.666666666666667%
    }
}

.searchWizard__input {
    width: 100%;
    height: auto;
    line-height: 18px;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    background: white;
    max-height: 39px;
    padding: 10px 30px 10px 10px
}

.searchWizard__input:before {
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 6;
    font-family: "sidu";
    color: var(--base-darked3);/*#0cb6b1*/
    font-size: 16px
}

.searchWizard__input input {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: none;
    padding: 0;
    font-family: "Montserrat", sans-serif
}

.searchWizard__input input::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px
}

.searchWizard__input input:-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px
}

.searchWizard__input input::-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px
}

.searchWizard__input input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px
}

.searchWizard__input--airport:before {
    content: ""
}

.searchWizard__input--cruise:before {
    content: "\e900"
}

.searchWizard__input--destination:before {
    content: "";
    font-weight: bold
}

.searchWizard__input--traveler:before {
    content: ""
}

.searchWizard__input--cal:before {
    content: "";
    font-weight: bold
}

.searchWizard__input--select:before {
    content: "\e901"
}

.searchWizard__advicelist {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-x: auto;
    overflow-x: hidden;
    background: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
    padding: 10px;
    z-index: 3015
}

@media (min-width:700px) {
    .searchWizard__advicelist {
        width: 120%;
        padding: 20px
    }
}

@media (min-width:1200px) {
    .searchWizard__advicelist {
        width: 150%
    }
}

.searchWizard__advicelist ul {
    list-style: none;
    margin-bottom: 15px
}

.searchWizard__advicelist ul:last-of-type {
    margin-bottom: 0
}

.searchWizard__advicelist li {
    padding: 5px 0;
    position: relative;
    cursor: pointer
}

.searchWizard__advicelist li b {
    font-weight: 600
}

.searchWizard__advicelist li:hover {
    color: #ffffff
}

.searchWizard__advicelist li:hover:before {
    background: #e3007b
}

.searchWizard__advicelist li:active {
    color: #ffffff
}

.searchWizard__advicelist li:before {
    content: "";
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    top: 0;
    position: absolute;
    z-index: -1
}

.searchWizard__advicehead {
    position: relative;
    color: #333;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--base);
    margin-bottom: 5px;
    font-weight: 600
}

.searchWizard__layer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    padding: 80px 20px 20px 20px;
    z-index: 3015;
    overflow-y: auto;
    overflow-x: hidden;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none
}

@media (min-width:700px) {
    .searchWizard__layer {
        max-width: 300px;
        height: auto;
        min-height: 100px;
        position: absolute;
        top: 100%;
        padding: 20px;
        -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95)
    }
}

@media (min-width:1000px) {
    .searchWizard__layer {
        width: 300px
    }
}

.searchWizard__layer--airport,
.searchWizard__layer--cruiseCompany {
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: auto
}

@media (min-width:700px) {

    .searchWizard__layer--airport,
    .searchWizard__layer--cruiseCompany {
        background: transparent
    }
}

.searchWizard__layer--airport {
    top: 0
}

@media (min-width:700px) {
    .searchWizard__layer--airport {
        top: auto
    }
}

.searchWizard__layer .cmsDatePicker__head .wizardLayer__button,
.searchWizard__layer .wizardLayer__head .wizardLayer__button {
    /*display:none*/
}

@media (min-width:700px) {
    .searchWizard--inslider {
        width: 100%;
        position: absolute;
        margin-top: -280px
    }
}

@media (min-width:1000px) {
    .searchWizard--inslider {
        width: 100%;
        position: absolute;
        margin-top: -240px
    }
}

@media (min-width:1200px) {
    .searchWizard--inslider {
        width: 100%;
        position: absolute;
        margin-top: -200px
    }
}

@media (min-width:700px) {
    .searchWizard--inimage {
        width: 100%;
        position: absolute;
        margin-top: -240px
    }
}

@media (min-width:1000px) {
    .searchWizard--inimage {
        width: 100%;
        position: absolute;
        margin-top: -200px
    }
}

@media (min-width:1200px) {
    .searchWizard--inimage {
        width: 100%;
        position: absolute;
        margin-top: -160px
    }
}

@media (min-width:700px) {
    .searchWizard--invert .searchWizard__tabcontent {
        background: #fff
    }
}

/**/
.TypesOfCruisesContainer ul {
    list-style: none
}

.TypesOfCruisesContainer ul li {
    padding: 5px 0;
    position: relative;
    cursor: pointer
}

.TypesOfCruisesContainer ul li:before {
    content: "";
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    top: 0;
    position: absolute;
    z-index: -1
}

.TypesOfCruisesContainer ul li:hover:before {
    background: #e3007b
}

.TypesOfCruisesContainer ul li:hover {
    color: white
}

.searchWizardOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    /* z-index: 3000; */
    display: none
}

.wizardLayer__inner {
    max-width: 1280px;
    margin: 0 auto;
    background: #fff
}

@media (min-width:700px) {
    .wizardLayer__inner {
        padding: 20px;
        -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.95)
    }
}

.wizardLayer__head {
    width: 100%;
    color: var(--base);
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid var(--base);
    padding: 5px 0;
    margin-bottom: 10px
}

.wizardLayer__head--buttons {
    padding: 8px 0
}

@media (min-width:700px) {
    .wizardLayer__head {
        margin-top: -10px
    }
}

.wizardLayer__close {
    width: 30px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -5px;
    top: -7px;
    text-align: center;
    cursor: pointer
}

.wizardLayer__close:before {
    content: "";
    font-size: 13px;
    font-family: "sidu";
    color: #333333
}

.wizardLayer__group {
    margin-bottom: 10px
}

.wizardLayer__name {
    margin-bottom: 5px
}

.wizardLayer__select {
    position: relative;
    background: #f5f5f5
}

.wizardLayer__select:before {
    content: "";
    font-family: "sidu";
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--base);
    text-align: center;
    color: #ffffff;
    z-index: 2;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.wizardLayer__select select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    -o-text-overflow: "";
    text-overflow: "";
    -webkit-border-radius: 0px;
    z-index: 3;
    cursor: pointer;
    position: relative;
    color: #333333
}

.wizardLayer__select select::-ms-expand {
    display: none
}

.wizardLayer__select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

.wizardLayer__chk {
    position: relative;
    list-style: none
}

.wizardLayer__chk input {
    display: none
}

.wizardLayer__chk input:checked+label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.wizardLayer__chk label {
    border: none;
    display: block;
    padding-left: 35px;
    cursor: pointer
}

.wizardLayer__chk label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    display: block;
    left: 10px;
    top: 4px;
    background-color: #e8e8e8;
    cursor: pointer
}

.wizardLayer__chk label:after {
    content: "";
    font-family: "sidu";
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    display: block;
    left: 10px;
    top: 4px;
    font-size: 14px;
    text-align: center;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.wizardLayer__chk--noindent label {
    padding-left: 25px;
    margin-bottom: 5px;
    font-weight: 500
}

.wizardLayer__chk--noindent label:after,
.wizardLayer__chk--noindent label:before {
    left: 0
}

.wizardLayer__grp {
    margin-bottom: 10px
}

.wizardLayer__button {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: right;
    background: var(--base-darked3);/*#0cb6b1*/
    border: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    text-transform: lowercase;
    font-weight: 500;
    padding: 0 15px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    margin-left: 10px
}

.wizardLayer__button--top {
    margin-top: -5px;
    position: absolute;
    right: 0
}

.wizardLayer__button:hover {
    background: #009490
}

.wizardLayer__button--delete {
    background: #b0005f;
    float: left;
    padding: 0 10px
}

.wizardLayer__button--delete span {
    display: none
}

.wizardLayer__button--delete:before {
    content: "\e909";
    font-size: 13px;
    color: #ffffff
}

@media (min-width:700px) {
    .wizardLayer__button--delete {
        padding: 0 15px
    }

    .wizardLayer__button--delete span {
        display: block
    }

    .wizardLayer__button--delete:before {
        display: none
    }
}

.wizardLayer__button--delete:hover {
    background: #e3007b
}

.wizardLayer__button--right {
    float: right
}

.wizardLayer__buttonbar {
    display: block;
    position: absolute;
    right: 0;
    top: -5px
}

.wizardLayer__airportall {
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 0 10px 0;
    text-transform: uppercase;
    font-size: 14px
}

.inputMoreLess {
    position: relative
}

.inputMoreLess__input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 35px;
    text-align: center;
    background: #f5f5f5;
    border: none;
    border-radius: 0
}

.inputMoreLess__button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: var(--base);
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer
}

.inputMoreLess__button:after,
.inputMoreLess__button:before {
    content: "";
    width: 14px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 8px
}

.inputMoreLess__button--more {
    left: auto;
    right: 0
}

.inputMoreLess__button--more:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.cmsDatePicker {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

.cmsDatePicker__head {
    width: 100%;
    color: var(--base);
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid var(--base);
    padding: 5px 0;
    margin-bottom: 10px;
    padding-right: 120px
}

@media (min-width:700px) {
    .cmsDatePicker__head {
        margin-top: -10px
    }
}

.cmsDatePicker__close {
    width: 30px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -5px;
    top: -3px;
    text-align: center;
    cursor: pointer
}

.cmsDatePicker__close:before {
    font-size: 13px;
    color: #333333
}

.cmsDatePicker__monthSelect {
    position: relative;
    background: #f5f5f5;
    margin-bottom: 5px;
    margin-top: 10px
}

.cmsDatePicker__monthSelect:before {
    content: "";
    font-family: "sidu";
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--base);
    text-align: center;
    color: #ffffff;
    z-index: 2;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.cmsDatePicker__monthSelect select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    -o-text-overflow: "";
    text-overflow: "";
    -webkit-border-radius: 0px;
    z-index: 3;
    cursor: pointer;
    position: relative
}

.cmsDatePicker__monthSelect select::-ms-expand {
    display: none
}

.cmsDatePicker__monthSelect select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

.cmsDatePicker__monthhead {
    width: 100%;
    border-bottom: 1px solid var(--base);
    margin-bottom: 5px
}

.cmsDatePicker__monthday {
    width: 14.28571428571429%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #85a8b5
}

.cmsDatePicker__month {
    position: relative;
    padding-bottom: 110%;
    margin-bottom: 10px
}

.cmsDatePicker__month img {
    width: 100%;
    height: auto;
    display: none
}

.cmsDatePicker__loading {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 99;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(/template/img/schnellsuche-loader.gif);
    background-position: center;
    background-repeat: no-repeat
}

.cmsDatePicker__dayFrame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute
}

.cmsDatePicker__day {
    width: 14.28571428571429%;
    height: 14%;
    float: left;
    position: relative;
    text-align: center;
    display: table;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: #fff
}

.cmsDatePicker__day span {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px
}

.cmsDatePicker__day.passed span {
    color: #f2f2f2;
    cursor: not-allowed;
    background: #fff
}

.cmsDatePicker__day.passed:hover span {
    color: #f2f2f2;
    cursor: not-allowed;
    background: #fff
}

.cmsDatePicker__day:hover {
    background: #ffcae6
}

.cmsDatePicker__day.active {
    background: var(--base);
    color: #ffffff
}

.cmsDatePicker__day.isActiveStart {
    background: #e3007b;
    color: #ffffff
}

.cmsDatePicker__day.isActiveEnd {
    background: var(--base);
    color: #ffffff
}

.cmsDatePicker--showduration .cmsDatePicker__day.isActiveStart {
    border-radius: 50% 0 0 50%
}

.cmsDatePicker--showduration .cmsDatePicker__day.isActiveEnd {
    border-radius: 0 50% 50% 0
}

.cmsDatePicker--showduration .cmsDatePicker__day.isActiveDuration {
    background: #f5f5f5;
    border-radius: 0
}

.cmsDatePicker__buttonframe {
    width: 100%
}

.cmsDatePicker__button {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    float: right;
    background: var(--base-darked3);/*#0cb6b1*/
    border: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    text-transform: lowercase;
    font-weight: 500;
    padding: 0 15px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px
}

.cmsDatePicker__button:hover {
    background: var(--base)
}

.cmsDatePicker__button--delete {
    background: #e3007b;
    float: left;
    padding: 0 10px
}

.cmsDatePicker__button--delete:hover {
    background: #e3007b
}

.cmsDatePicker-months__prev,
.cmsDatePicker-months__next {
    width: 30px;
    height: 30px;
    background: var(--base);
    text-align: center;
    color: #ffffff;
    flex: 0 0 auto;
    border: none;
    appearance: none;
    position: relative;
    cursor: pointer;
}

.cmsDatePicker-months__prev:after,
.cmsDatePicker-months__next:after {
    content: "";
    font-family: "sidu";
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    z-index: 2;
}

.cmsDatePicker-months__prev:after {
    transform: rotate(180deg);
}

.cmsDatePicker-months__next:after {
    /*transform: rotate(90deg);*/
}

.cmsDatePicker-months__current {
    flex: 1 1 auto;
    height: 30px;
    background: #f5f5f5;
    text-align: center;
    line-height: 30px;
}

.accordion {
    margin-bottom: 20px
}

.accordion__trigger {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e3007b;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    padding-right: 40px
}

.accordion__icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.accordion__icon:after,
.accordion__icon:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #e3007b;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out
}

.accordion__icon:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordion__content {
    display: none;
    padding-bottom: 20px
}

.accordion__content:after {
    content: "";
    display: table;
    clear: both
}

.accordion.isActive .accordion__icon:after {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.accordion.isActive .accordion__icon:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordion--uppercase .accordion__trigger {
    text-transform: uppercase
}

.accordion--bar .accordion__trigger {
    background: #f5f5f5;
    border-bottom: none;
    color: #333333;
    padding: 16px 50px 16px 10px
}

@media (min-width: 800px) {
    .accordion--bar .accordion__trigger {
        padding: 16px 50px 16px 20px
    }
}

.accordion--bar .accordion__icon {
    right: 15px
}

.accordion--bar .accordion__icon:after,
.accordion--bar .accordion__icon:before {
    width: 2px;
    background: #333333
}

.accordion--iconbar .accordion__trigger {
    background: #f5f5f5;
    border-bottom: none;
    color: #333333;
    padding: 20px 20px 20px 75px;
    margin-bottom: 0
}

.accordion--iconbar .accordion__trigger:before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
    text-align: center;
    font-size: 24px;
    color: #85a8b5
}

.accordion--iconbar .accordion__trigger:after {
    content: "";
    width: 1px;
    height: 40px;
    background: #85a8b5;
    position: absolute;
    left: 60px;
    top: 50%;
    margin-top: -20px
}

.accordion--iconbar .accordion__icon {
    right: 15px
}

.accordion--iconbar .accordion__icon:after,
.accordion--iconbar .accordion__icon:before {
    width: 2px;
    background: #333333
}

.accordion .isBoxed {
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1)
}


.cmsDatePicker-months {
    display: flex;
}

.cmsDatePicker-months__current {
    flex: 1 1 auto;
    height: 30px;
    background: #f5f5f5;
    text-align: center;
    line-height: 30px;
}
